.Services {
  background-color: $color-gray-1;
  padding-top: $pd-1;
  padding-bottom: $pd-2;
  border-bottom: 1px solid $color-gray-1;
  img {
    width: 50px;
    margin: $mg-1 0;
  }
  .Services_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    p {
      margin-bottom: 0;
      text-align: center;
    }
    .text_upercase {
      text-transform: uppercase;
      @include styleText($color-black-0, $fs-0 - 1, $fw-normal);
    }
    .text {
      @include styleText($color-gray-0, $fs-0, $fw-normal);
    }
  }
}
