footer {
  @include styleText($color-white-0, $fs-1, $fw-light);
  padding: $pd-3;
  .logo_footer {
    img {
      width: 300px;
      margin-bottom: $mg-2 - 5;
    }
  }
  .logo_footer{
    padding-top: 0!important;
  }
  .footer_sup {
    padding-top: $pd-3 + 20;
    a {
      @include styleText($color-white-0, $fs-1, $fw-light);
      text-decoration: none;
      line-height: 33px;
      transition: all 0.5;
      &:hover {
        @include styleText($color-gray-2, $fs-1, $fw-light);
      }
    }
    h5 {
      padding-bottom: $pd-1;
    }
  }
}
