header .border-right {
    border-right: 1px dotted #dee2e6 !important;
}
header{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    background: 0 0; 
}
.navbar img{
    width: 10rem;
}

#navbarMovie .navbar-nav {
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}

#navbarMovie .navbar-nav .nav-item {
    text-transform: uppercase;
    position: relative;
    padding: 5px 15px;
    font-weight: bold;
}

#navbarMovie .navbar-nav .nav-item::after {
    content: '';
    display: block;
    height: 2px;
    background-image: linear-gradient(to right, #88d0ff, #db8cfc);
    box-shadow: 0 0 20px 0 #88d0ff;
    /* ẩn chiều dài đường line */
    width: 0;
    /* tạo hiệu ứng chuyển động mượt cho hover */
    transition: all .3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

#navbarMovie .navbar-nav .nav-item.active::after {
    width: 100%;
}
header .text-right{
    margin: 0;
}
header .text-right i:last-child{
    font-size: 10px;
}
header .navbar{
    padding: 0 1rem;
    position: relative;
    top: 0;
    left: 0;
    right: 0;

}

#navbarMovie .navbar-nav .nav-item:hover::after {
    width: 100%;
}
header .text-right{
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    color: #fff;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-spacing: 5px;
}
.navbar .dropdown .dropdownmenu{
    background-image: linear-gradient(to right, #88d0ff, #db8cfc);
    opacity: 0;
    transform: scale(1.1);
    transition: all 0.5s;
    margin: 0;
    background-clip: border-box;
    border:none;
    border-radius: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 13em;
    padding: 0.5rem;
    
}
.navbar .dropdown .dropdownmenu a{
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 3px;
}
.navbar .dropdown .dropdownitem:hover{
    background:0 0;
    color:#fff;
}
.navbar .dropdown:hover .dropdownmenu{
    opacity:1;
    transform:scale(1);
}
.navbar .dropdown{
    position: relative;
}


.collapse ul li a {
    font-size: 0.9rem;
    font-weight: 400;
    /* line-height: .8em; */
    display: inline-block;
    /* padding: 20px 24px; */
    letter-spacing: 3px;
    color: #fff;
}
