@charset "UTF-8";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header .border-right {
  border-right: 1px dotted #dee2e6 !important;
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  background: 0 0;
}

.navbar img {
  width: 10rem;
}

#navbarMovie .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#navbarMovie .navbar-nav .nav-item {
  text-transform: uppercase;
  position: relative;
  padding: 5px 15px;
  font-weight: bold;
}

#navbarMovie .navbar-nav .nav-item::after {
  content: '';
  display: block;
  height: 2px;
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  box-shadow: 0 0 20px 0 #fbbd61;
  /* ẩn chiều dài đường line */
  width: 0;
  /* tạo hiệu ứng chuyển động mượt cho hover */
  transition: all .3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

#navbarMovie .navbar-nav .nav-item.active::after {
  width: 100%;
}

header .text-right {
  margin: 0;
}

header .text-right i:last-child {
  font-size: 10px;
}

header .navbar {
  padding: 0 1rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

#navbarMovie .navbar-nav .nav-item:hover::after {
  width: 100%;
}

header .text-right {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  color: #fff;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-spacing: 5px;
}

.navbar .dropdown .dropdownmenu {
  background-image: linear-gradient(to right, #fbbd61, #ec7532);
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.5s;
  margin: 0;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 10em;
  padding: 0.5rem;
}

.navbar .dropdown .dropdownmenu a {
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 3px;
}

.navbar .dropdown .dropdownitem:hover {
  background: 0 0;
  color: #fff;
}

.navbar .dropdown:hover .dropdownmenu {
  opacity: 1;
  transform: scale(1);
}

.navbar .dropdown {
  position: relative;
}

.collapse ul li a {
  font-size: 0.9rem;
  font-weight: 400;
  /* line-height: .8em; */
  display: inline-block;
  /* padding: 20px 24px; */
  letter-spacing: 3px;
  color: #fff;
}

.carousel .carousel-indicators li {
  height: 0;
  width: 0;
  padding: 5px;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */