@charset "UTF-8";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

header .border-right {
  border-right: 1px dotted #dee2e6 !important;
}

header {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  background: 0 0;
}

.navbar img {
  width: 10rem;
}

#navbarMovie .navbar-nav .nav-item {
  text-transform: uppercase;
  position: relative;
  padding: 5px 15px;
  font-weight: bold;
}

#navbarMovie .navbar-nav .nav-item::after {
  content: "";
  display: block;
  height: 2px;
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
  box-shadow: 0 0 20px 0 #88d0ff;
  /* ẩn chiều dài đường line */
  width: 0;
  /* tạo hiệu ứng chuyển động mượt cho hover */
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

#navbarMovie .navbar-nav .nav-item.active::after {
  width: 100%;
}

header .navbar {
  padding: 0 1rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

#navbarMovie .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.navbar .dropdown .dropdownmenu {
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.5s;
  margin: 0;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 13em;
  padding: 0.5rem;
}

.navbar .dropdown .dropdownmenu a {
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 3px;
}

.navbar .dropdown .dropdownitem:hover {
  background: 0 0;
  color: #fff;
}

.navbar .dropdown:hover .dropdownmenu {
  opacity: 1;
  transform: scale(1);
}

.navbar .dropdown {
  position: relative;
}

.collapse ul li a {
  font-size: 0.9rem;
  font-weight: 400;
  /* line-height: .8em; */
  display: inline-block;
  /* padding: 20px 24px; */
  letter-spacing: 3px;
  color: #fff;
}

.Nav__black {
  display: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
}

header {
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 15px;
  background: #2c353bd9;
}

header .account {
  margin-top: 5px;
  padding-left: 40px !important;
  padding-right: 0 !important;
}

header .account img {
  width: 25px;
  cursor: pointer;
}

header .account .cart {
  padding: 0 20px;
}

header .account .dropdown-menu {
  left: -30px !important;
  margin: 0.625rem 0 0 !important;
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
}

header .account::after {
  display: none !important;
}

header .navbar-brand {
  padding-top: 0 !important;
}

.carousel .carousel-indicators li {
  height: 0;
  width: 0;
  padding: 5px;
  border-radius: 50%;
}

.Services {
  background-color: #e6e6eb;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6eb;
}

.Services img {
  width: 50px;
  margin: 10px 0;
}

.Services .Services_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
}

.Services .Services_item p {
  margin-bottom: 0;
  text-align: center;
}

.Services .Services_item .text_upercase {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}

.Services .Services_item .text {
  color: #7c7c80;
  font-size: 15px;
  font-weight: normal;
}

.topNewProduct, .bestSeller {
  padding: 40px 40px;
  width: 95%;
  margin: auto;
}

.topNewProduct .productTitle, .bestSeller .productTitle {
  text-align: center;
  margin-bottom: 25px;
  color: #000;
  font-size: 40px;
  font-weight: 600;
}

.topNewProduct .pro_item h5, .bestSeller .pro_item h5 {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

.topNewProduct .pro_item .btn-buy, .bestSeller .pro_item .btn-buy {
  background-image: linear-gradient(to right, #88d0ff, #9e88ff);
}

.topNewProduct .pro_item .btn-add, .bestSeller .pro_item .btn-add {
  background-image: linear-gradient(to right, #9e88ff, #db8cfc);
}

.topNewProduct .pro_item .price_pro, .bestSeller .pro_item .price_pro {
  text-align: center;
}

.typeShoes {
  padding: 20px;
}

.typeShoes .type_content .row {
  width: 100%;
  margin: 0 auto;
}

.typeShoes .type_content .type_item {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.typeShoes .type_content .type_item img {
  position: relative;
  width: 320px;
  transition: all 1s;
}

.typeShoes .type_content .img_type {
  border-radius: 10px;
  width: 81%;
  margin: 0 auto;
  overflow: hidden;
}

.typeShoes .type_content .img_type:hover img {
  transform: scale(1.2);
}

.typeShoes .type_content .img_type::after {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  width: 75%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  border-radius: 10px;
}

.typeShoes .see_now {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 25px;
}

.typeShoes .see_now .text {
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.typeShoes .see_now .btn_see_now {
  position: relative;
  border: 2px solid #fff;
  padding: 5px 20px;
  z-index: 30;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.typeShoes .see_now .btn_see_now:before {
  content: "";
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
  width: 125%;
  height: 100%;
  display: block;
  position: absolute;
  left: -8px;
  top: 0;
  z-index: 10;
  transform: skewX(30deg) translateX(-105%);
  transition: all 0.5s;
}

.typeShoes .see_now .btn_see_now:hover:before {
  transform: skewX(30deg) translateX(-5%);
}

.typeShoes .see_now .btn_see_now span {
  z-index: 22;
  position: relative;
}

.achivement {
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
  padding: 20px 0;
}

.achivement .list {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.achivement p {
  color: #29303b;
  font-size: 24px;
  font-weight: 600;
}

.achivement h1 {
  color: #29303b;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.scroll-to-top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  padding: 10px;
}

.scroll-to-top svg {
  padding: 10px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
  box-shadow: 0px 3px 31px 0px rgba(0, 0, 0, 0.75);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formForSale {
  padding: 40px 40px;
  background: #2c2c35;
}

.formForSale .form_content {
  width: 100%;
  margin: 0 auto;
}

.formForSale .form_content img {
  width: 35px;
}

.formForSale .form_content .icon {
  padding: 0 20px;
}

.formForSale .form_content .text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}

.formForSale .form_content .form_titlle {
  display: flex;
  align-items: center;
}

.formForSale .form_input .form-outline {
  width: 100%;
  padding: 0 !important;
}

.formForSale .form_input input {
  border: none;
  width: 100%;
  background-color: #a1a7b3;
}

.formForSale .form_input input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.formForSale .form_input input::placeholder {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}

.formForSale .form_input .btn-primary {
  padding: 5px 25px;
  margin-left: 25px;
  border-radius: 20px;
  outline: none;
  box-shadow: 0px 1px 10px -1px black;
}

.formForSale .form_input .btn-primary .text {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
}

.formForSale .form_input .btn-primary:focus {
  outline: none;
}

.formForSale .form_input .input-group {
  padding: 8px 10px;
  background-color: #a1a7b3;
  border-radius: 25px;
}

.formForSale .form_input .submit {
  padding: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 40px;
}

footer .logo_footer img {
  width: 300px;
  margin-bottom: 20px;
}

footer .logo_footer {
  padding-top: 0 !important;
}

footer .footer_sup {
  padding-top: 60px;
}

footer .footer_sup a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  line-height: 33px;
  transition: all 0.5;
}

footer .footer_sup a:hover {
  color: #a1a7b3;
  font-size: 13px;
  font-weight: 400;
}

footer .footer_sup h5 {
  padding-bottom: 10px;
}

.formSignIn,
.formSignUp {
  padding-top: 40px;
  height: 100%;
}

.formSignIn .row,
.formSignUp .row {
  width: 100%;
  margin: auto auto;
}

.formSignIn .myform,
.formSignUp .myform {
  position: relative;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
}

.formSignIn .tx-tfm,
.formSignUp .tx-tfm {
  text-transform: uppercase;
}

.formSignIn .mybtn,
.formSignUp .mybtn {
  border-radius: 50px;
}

.formSignIn .login-or,
.formSignUp .login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.formSignIn .span-or,
.formSignUp .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.formSignIn .hr-or,
.formSignUp .hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.formSignIn .google,
.formSignUp .google {
  color: #666;
  width: 100%;
  height: 40px;
  text-align: center;
  outline: none;
  border: 1px solid lightgrey;
}
/*# sourceMappingURL=main.css.map */