@charset "UTF-8";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header .border-right {
  border-right: 1px dotted #dee2e6 !important;
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 0;
  background: 0 0;
}

.navbar img {
  width: 10rem;
}

#navbarMovie .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#navbarMovie .navbar-nav .nav-item {
  text-transform: uppercase;
  position: relative;
  padding: 5px 15px;
  font-weight: bold;
}

#navbarMovie .navbar-nav .nav-item::after {
  content: '';
  display: block;
  height: 2px;
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
  box-shadow: 0 0 20px 0 #88d0ff;
  /* ẩn chiều dài đường line */
  width: 0;
  /* tạo hiệu ứng chuyển động mượt cho hover */
  transition: all .3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

#navbarMovie .navbar-nav .nav-item.active::after {
  width: 100%;
}

header .navbar {
  padding: 0 1rem;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

#navbarMovie .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.navbar .dropdown .dropdownmenu {
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.5s;
  margin: 0;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 13em;
  padding: 0.5rem;
}

.navbar .dropdown .dropdownmenu a {
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 3px;
}

.navbar .dropdown .dropdownitem:hover {
  background: 0 0;
  color: #fff;
}

.navbar .dropdown:hover .dropdownmenu {
  opacity: 1;
  transform: scale(1);
}

.navbar .dropdown {
  position: relative;
}

.collapse ul li a {
  font-size: 0.9rem;
  font-weight: 400;
  /* line-height: .8em; */
  display: inline-block;
  /* padding: 20px 24px; */
  letter-spacing: 3px;
  color: #fff;
}

.Nav__black {
  display: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
}

header .account {
  margin-top: 25px;
  padding: 0 40px;
  display: flex;
  justify-content: flex-end;
}

header .account img {
  width: 25px;
  cursor: pointer;
}

header .account .cart {
  padding: 0 20px;
}

header .account .dropdown-menu {
  left: -30px !important;
  margin: 0.625rem 0 0 !important;
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
}

.carousel .carousel-indicators li {
  height: 0;
  width: 0;
  padding: 5px;
  border-radius: 50%;
}

.Services {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6eb;
}

.Services img {
  width: 50px;
  margin: 10px 0;
}

.Services .Services_item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
}

.Services .Services_item p {
  margin-bottom: 0;
  text-align: center;
}

.Services .Services_item .text_upercase {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}

.Services .Services_item .text {
  color: #7c7c80;
  font-size: 15px;
  font-weight: normal;
}

.topNewProduct {
  padding: 40px 40px;
  width: 95%;
  margin: auto;
}

.topNewProduct .productTitle {
  text-align: center;
  margin-bottom: 25px;
  color: #000;
  font-size: 40px;
  font-weight: 600;
}

.topNewProduct .pro_item .btn-buy {
  background-image: linear-gradient(to right, #88d0ff, #9e88ff);
}

.topNewProduct .pro_item .btn-add {
  background-image: linear-gradient(to right, #9e88ff, #db8cfc);
}

.topNewProduct .pro_item .price_pro {
  text-align: center;
}

.typeShoes {
  padding: 20px;
}

.typeShoes .type_content .row {
  width: 100%;
  margin: 0 auto;
}

.typeShoes .type_content .type_item {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.typeShoes .type_content .type_item img {
  position: relative;
  width: 320px;
  transition: all 1s;
}

.typeShoes .type_content .img_type {
  border-radius: 10px;
  width: 81%;
  margin: 0 auto;
  overflow: hidden;
}

.typeShoes .type_content .img_type:hover img {
  transform: scale(1.2);
}

.typeShoes .type_content .img_type::after {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  width: 75%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  border-radius: 10px;
}

.typeShoes .see_now {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 25px;
}

.typeShoes .see_now .text {
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.typeShoes .see_now .btn_see_now {
  position: relative;
  border: 2px solid #fff;
  padding: 5px 20px;
  z-index: 30;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.typeShoes .see_now .btn_see_now:before {
  content: "";
  background-image: linear-gradient(to right, #88d0ff, #db8cfc);
  width: 125%;
  height: 100%;
  display: block;
  position: absolute;
  left: -8px;
  top: 0;
  z-index: 10;
  transform: skewX(30deg) translateX(-105%);
  transition: all 0.5s;
}

.typeShoes .see_now .btn_see_now:hover:before {
  transform: skewX(30deg) translateX(-5%);
}

.typeShoes .see_now .btn_see_now span {
  z-index: 22;
  position: relative;
}

.bestSeller {
  padding: 40px 40px;
  width: 95%;
  margin: auto;
}

.bestSeller .productTitle {
  text-align: center;
  margin-bottom: 25px;
  color: #000;
  font-size: 40px;
  font-weight: 600;
}

.bestSeller .pro_item .btn-buy {
  background-image: linear-gradient(to right, #88d0ff, #9e88ff);
}

.bestSeller .pro_item .btn-add {
  background-image: linear-gradient(to right, #9e88ff, #db8cfc);
}

.bestSeller .pro_item .price_pro {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */